<div class="app_desc">
    <h1>The Hattery:</h1>
    <h1>Some Like it Hot (But Usually it's Bone-numbingly Cold)</h1>
    <h3>Birdhaus helps the inhabitants of this space collect a comprehensive history of the temperature from three altitude-spaced temperature sensors</h3>
</div>

<div class="tech">
    <h2>Technologies:</h2>
    <ul>
        <li>Data visualization via Highcharts helps users see what times of day are sweltering and which are akin to Arctic chill</li>
        <li>Data is logged with three temperature sensors connected to a Raspberry Pi microcomputer that's been pushing readings directly to Heroku for the better part of a week</li>
        <li>An AngularJS app build on the rock-solid foundation of Ruby on Rails</li>
    </ul>
</div>

<div class="members">
    <h2>The Birdhaus Team</h2>
    <h3>Amy Weiner</h4>
    <p>She's pretty swell</p>
    <h3>Matthew Lopez</h4>
    <p>Yeah; he's not too shabby either</p>
</div>