
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
    <div id="container" style="width: 100%; height: 400px; margin: 0 auto"></div>
  <script src="https://rawgithub.com/laff/technical-indicators/master/technical-indicators.src.js"></script>
  <script>

  $(function () {
     $.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=aapl-c.json&callback=?', function(data) {
        $('#container').highcharts('StockChart', {
    
            title : {
                text : 'Simple Moving Average (SMA) of AAPL stock price'
            },
    
            subtitle: {
                text: 'From may 15, 2006 to May 10, 2013'
            },
    
            xAxis: {
                type: 'datetime'
            },
    
            yAxis: {
                title : {
                    text : 'Price'
                }
            },
        
            tooltip: {
                crosshairs: true,
                shared: true
            },
            
      rangeSelector : {
        selected : 1
      },
    
            legend: {
                enabled: true,
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
    
            plotOptions: {
                series: {
                    marker: {
                        enabled: false,
                    }
                }
            },
    
            series : [{
                name: 'AAPL Stock Price',
                type : 'line',
                id: 'primary',
                data : data
            }, {
                name: '15-day SMA',
                linkedTo: 'primary',
                showInLegend: true,
                type: 'trendline',
                algorithm: 'SMA',
                periods: 15
            }, {
                name: '40-day SMA',
                linkedTo: 'primary',
                showInLegend: true,
                type: 'trendline',
                algorithm: 'SMA',
                periods: 40
            }]
        });
    });
  });
  </script>
</body>
</html>