<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <style type="text/css">

  
  </style>
  <body>
    <h1>Bar Graphs</h1>
     <bars data="40,4,55,15,16,33,52,20"></bars>
    <h1>Donut Graphs</h1>
    <donut-chart></donut-chart>
  <donut-chart></donut-chart>
  <donut-chart></donut-chart>
  <donut-chart></donut-chart>
    <style>
      .bar{
        height: 10px;
        background-color: blue;
        border-bottom: 1px solid white;
      }

      .chart {
    background: #eee;
    padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}
    </style>
<script>


</script>
  </body>
</html>