
html, body {
  width: 100%;
  height: 100%;
}

body{
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.titlebar {
    width: 100%;
    padding: 1px;
    background-color: #1240AB;
    font-family: 'Monofett', cursive;
    font-size: 2em;
    color: grey;
}

.title_list {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.about {
  position: relative;
  top: -100px;
  right: 15px;
  float: right;
  font-family: Nova Mono;
}

.content {
  width: 90%;
  height: 1000px;
  float: left;
  background: #FFAA00;
  position: relative;
  top: -44px;
}

.sidebar-wrapper{
  width: 10%;
  height: 1000px;
  float: left;
  background: #FF3500;
}

.sidebar-wrapper ul{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.sidebar-wrapper li{
    width: 100%;
    padding-top: 25%;
    font-family: 'Nova Mono', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.sidebar-wrapper a{
    display: block;
    font-size: 1em;
}

.app_desc {
  text-align: center;
  font-size: 1.2em;
}

.app_desc h1{
  font-family: 'Candal', sans-serif;
}

.tech {
  text-align: center;
}

.tech li {
  list-style-type: none;
}

.tech h2 {
  font-family: 'Candal', sans-serif;
}

.members {
  text-align: center;
}

.members h2{
  font-family: 'Candal', sans-serif;
}