<!DOCTYPE html>
<html data-ng-app='birdhausApp'>
<head>
  <title>Birdhaus</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="titlebar"><h1>Birdhaus</h1>
  <span><a href="#/about">About Birdhaus</a></span>
</header>
<div class="wrapper">
    <div class="sidebar-wrapper">
        <ul class="sidebar-nav">
        </ul>
    </div>
</div>

<div class="content">
    <div data-ng-view>
    </div>
</div>

<!-- <script>
var initNavHeight = function(){
var windowHeight = $(window).height();
    $(".sidebar-wrapper").css('height', windowHeight + 'pixel');
}

initNavHeight();
</script> -->

</body>
</html>
