<!DOCTYPE html>
<html data-ng-app='birdhausApp'>
<head>
  <title>Birdhaus</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="titlebar">
        <ul class="title_list">
            <li class="title_text"><h1><a href="/#/">Birdhaus</a></h1></li>
            <li class="about"><a href="#/about">About Birdhaus</a></li>
        </ul>
    </div>
    <!-- <div class="titlebar"><h1>Birdhaus</h1>
        <a class="about" href="#/about">About Birdhaus</a>
    </div> -->

<!-- <header class="titlebar"><h1>Birdhaus</h1>
    <a class="about" href="#/about">About Birdhaus</a>
</header> -->

<div class="wrapper">
    <div class="triangle"></div>
    <div class="sidebar-wrapper">
        <ul class="sidebar-nav">
        </ul>
    </div>
</div>

<div class="content">
    <div data-ng-view>
    </div>
</div>

<!-- <script>
var initNavHeight = function(){
var windowHeight = $(window).height();
    $(".sidebar-wrapper").css('height', windowHeight + 'pixel');
}

initNavHeight();
</script> -->

</body>
</html>
